<app-header-image [backgroundImage]="'assets/images/others/about.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'O nama'"
                  [desc]="'Tražite li svoj novi dom koji odražava vaš stil, udobnost i životne potrebe? Ne tražite dalje! Na našoj stranici pronaći ćete sve što vam je potrebno za savršeno usklađivanje s vašim snovima o idealnom domu.'">
</app-header-image>


<div class="theme-container">
    <mat-card class="main-content-header">
        
        <div class="section pt-2 mt-0">
            <div class="px-3">
                <div class="theme-container">

                    <h1 class="section-title">O nama</h1>

                    <p class="px-3">Mi smo predana kompanija koja se posvećuje promociji nekretnina na webu. Naša vizija je da stvorimo najkompletniju i najpouzdaniju platformu koja korisnicima omogućava jednostavan pristup širokom spektru nekretnina. Sa stručnim timom i naprednim tehnološkim rješenjima, nudimo sveobuhvatan pregled nekretnina, pružajući detaljne informacije i olakšavajući komunikaciju između prodavaca i potencijalnih kupaca. Kroz naše usluge, želimo transformisati način na koji ljudi pronalaze i trguju nekretninama, pružajući im pouzdanost, praktičnost i transparentnost tokom cijelog procesa. Naša posvećenost kvalitetu, inovacijama i korisničkom iskustvu čini nas pouzdanim partnerom u vašem putovanju pronalaska idealne nekretnine.</p>


            
                    
                </div>
            </div>   
        </div> 

    </mat-card> 
 
</div>

<app-mission></app-mission>

<app-our-services></app-our-services>

<!--<app-testimonials></app-testimonials>

<app-our-agents></app-our-agents>
      
<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch>-->